{% extends 'base.html' %} 

{% block title %} Answer Question {% endblock %}

{% block nav %}
  <a class="nav-link" href="{{ url_for('home') }}">Home</a>
  {% if not loggeduser %}
    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
  {% endif %}
  {% if loggeduser %}
    {% if loggeduser['admin']==0 and loggeduser['expert']==0 %}
        <a class="nav-link" href="{{ url_for('ask_question') }}">Ask Question</a>
    {% endif %}
  {% endif %}
  {% if loggeduser and not(loggeduser['admin']) and loggeduser['expert']==1 %}
    <a class="nav-link active" href="{{ url_for('unanswered') }}">Answer Question</a>
  {% endif %}
  {% if loggeduser and loggeduser['admin']==1 %}
    <a class="nav-link" href="{{ url_for('users') }}">User Setup</a>
  {% endif %}
  {% if loggeduser %}
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
  {% endif %}
{% endblock %}

{% block pageheader %} Answer Question {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="well bs-component">
            <form class="form-horizontal" method="POST" action="{{ url_for('answer_question',question_id=question['id']) }}">
              <fieldset>
                <div class="list-group-item">
                  <h4 class="list-group-item-heading my-2">{{ question['question_text'] }}</h4></div>
                <div class="form-group">
                  <label for="textArea" class="col-lg-2 my-2 control-label">Answer</label>
                  <div class="col-lg-10">
                    <textarea class="form-control my-2" rows="3" name="answer" id="textArea">
                      {% if answer %}{{ answer['answer_text'] }} {% endif %}
                    </textarea>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary my-4">Submit</button>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}